.nav-style{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.nav-font{
  font-family: "MatSaleh";
  font-weight: normal;
  font-size: 20px;
  color: white;
}

.nav-padding{
  margin: 2rem;
}

.web-padding{
  margin: 70px;
  padding-left: 70px;
  padding-right: 70px;
}

.h1-style{
  padding-top: 40px;
  font-family: "MatSaleh";
  font-weight: normal;
  font-size: 130px;
  color: rgb(206, 218, 254);
  line-height: 0.7;
  text-shadow: 2px 4px 4px rgba(140, 148, 231, 0.6);
}

.h2-style{
  font-family: "MatSaleh";
  font-weight: normal;
  font-size: 80px;
  color: rgb(206, 218, 254);
  line-height: 0.8;
  text-shadow: 2px 4px 4px rgba(140, 148, 231, 0.6);
}

.body-style{
  font-family: "Dosis";
  font-weight: normal;
  font-size: 20px;
  color: rgb(220, 191, 227);
  padding-bottom: 3rem;
}

.home-body-style{
  font-family: "Dosis";
  font-size: 30px;
  font-weight: normal;
  color: rgb(220, 191, 227);
}

.icon-text-style{
  font-family: "MatSaleh";
  font-weight: normal;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.icon-style{
  width: auto;
  height: 100px;
  margin: 2rem;
}

.small-icon-style{
  width: auto;
  height: 20px;
  margin: 0.2rem;
}

.skills-icon-style{
  width: auto;
  height: 50px;
  margin: 0.5rem;
}

.invert{
  filter: invert(100);
}

.project-image{
  width: auto;
  height: 500px;
  margin: 2rem;
}

.video-container{
  height: 100px; 
  width: 100px;
}

.gif-sizing{
  width:270px;
  height: 270px;
  object-fit: cover;
  border-radius: 50%;
}

.temp-padding{
  padding-left: 100px;
}

.code-image{
  width: 50%;
  height: auto;
  align-items: center;
}

.thumbnail{
  height:auto;
  width:500px;
  object-fit: cover;
}

/* .cursor{
  background-color: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
} 

* {
  cursor: none;
} */

.art-sizing{
  height:350px;
  width: auto;
  padding-left: 100px;
}

.background-orb{
  background-image: radial-gradient(10em 10em at center, rgb(101, 50, 91) 2%, transparent 100%);
  border-radius: 50%;
}

.lightswitch {
  width: 50px;
  height: auto;
  position:absolute;
}