@font-face {
  font-family: MatSaleh;
  src: local("MatSaleh"),
   url("./fonts/MatSaleh.otf") format("truetype");
   font-weight: normal;
   font-size: 20px;
   color: "white";
 }

 @font-face {
  font-family: Montserrat;
  src: local("Montserrat-Regular"),
   url("./fonts/Montserrat-Regular.ttf") format("truetype");
   font-weight: normal;
   font-size: 20px;
   color: "white";
 }

 .custom-scrollbars__content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.background{
  background: 
    radial-gradient(rgb(19, 64, 116), rgb(23, 53, 89)), 
    url("");
  filter: contrast(170%) brightness(1000%);  
}